.para-style{
    color: red;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}
.para1-style{
    color: green;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}